body {
    min-width: 1200px;
    background-image: url('./img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif  
}

#naglowek{
    margin: 20px;
    font-size: 30px;
    color: blue
}

h1{
    margin: 20px;
    font-size: 30px;
    color: blue
}

h2{
    margin: 20px;
    font-size: 20px;
    color: blue
}

h3{
    margin: 20px;
    font-size: 20px;
    color:blue
} 
    
div{
    margin: 10px;
    font-size: 15px
}


#opisAktualna{
    margin-left: 100px;
    color: green
}

#opisJutro{
        color: grey
    }   

#opisPojutrze{
        color: grey
    }
        
#opisZa3{
        color: grey
    }

#temp{
    margin-left: 100px;
    color: green
}
.temp{
    margin: 24px;
    font-size: 20px;
    color: grey
}

canvas{
    margin-left: 40px
}

section {
    display: flex
}

.loader {
    justify-content: left;
    display: none
}

.loader.visible {
    display: flex
}

#panel{
    font-size: 14px;
    color:solid green 1px;
    margin: 10px;
    padding: 5px;
    border: solid green 1px;
    border-radius: 15px
}

.selektor {
  transform: rotate(30deg)
}

#foot {
    color: grey;
    margin: 20px;
    font-size: 14px;
    font-style: italic
}




